# Sensitive environment variables
*.env

# Python virtual environment
venv/

# Python bytecode and cache
__pycache__/
*.pyc

# Database files
*.db
*.sqlite
*.sqlite3
instance/

# System files
.DS_Store